# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version

notebooks/Data/*
notebooks/Figures/*
notebooks/Movies/*
notebooks/Trained Models/*
notebooks/SHO_Fitter_original_data_model_optimizer_Trust Region CG_epoch_14_train_loss_0.016973057058122423.pth
notebooks/SHO_Fitter_original_data_model_optimizer_Trust Region CG_epoch_14_train_loss_0.017382523914178213.pth
